/* NAVBAR */

a.button-custom {
    font-size: 14px;
    border-radius: 25px;
    padding: 0px 25px;
    background-color: #fba70b;
    color: #000000;
    font-weight: 600;
    letter-spacing: 1px;
}

a.button-custom:hover {
    background-color: #ff8400;
}

a.button-custom a.active {
    color: #000000!important;
}

.font-custom h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    color: black;
    margin-bottom: 25px;
}

.font-custom h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: black;
    margin-bottom: 25px;
}

.font-custom em {
    margin-top: 0px;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    color: #fba70b;
    margin-bottom: 25px;
} 

.custom {
    padding-top: 0;
}

.custom.active {
    color: #ff0000;
}

.btn-primary {
    color: #fff;
    background-color: #ffae00;
    border-color: #ffae00;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #ffc13a;
    border-color: #ffc13a;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #000000;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #000000;
  }

  /* CONTAINER BASE DE DATOS */

  *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
}

.container_bd{
    padding:15px 25%;
    padding-bottom: 100px;
}

.container_bd .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container_bd .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container_bd .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.container_bd .box-container .box img{
    height: 200px;
}

.container_bd .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container_bd .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container_bd .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container_bd .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container_bd .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container_bd{
        padding:20px;
    }
}

/*TEXTO ANIMADO*/

.animated {
    position: relative;
  }
  
  .animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 460px;
    position: relative;
  }
  
  .animated-item {
    color: #ffc200;
  }
  
  .animated-item {
    font-size: 50px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 8s linear infinite 0s;
  }
  .animated-item:nth-child(2n+2) {
    animation-delay: 2s;
  }
  .animated-item:nth-child(3n+3) {
    animation-delay: 4s;
  }
  .animated-item:nth-child(4n+4) {
    animation-delay: 6s;
  }

  .animated-item {
    font-size: 50px;
  }

  @media (max-width: 580px) {
	.animated-info {
		min-width: 200px;
	}
  .animated-item {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
    .animated-text {
      margin-top: 0;
    }
}

@keyframes BottomTotop {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
      transform: translateY(5px);
    }
    10% {
      opacity: 1;
      transform: translateY(0px);
    }
    25% {
      opacity: 1;
      transform: translateY(0px);
    }
    30% {
      opacity: 0;
      transform: translateY(5px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  /* LANDING PAGE */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.959)
}

.home:before{
    z-index: 777;
    content: '';

    background: rgba(251, 3, 3, 0.034);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 60%;
    margin-top: 250px;
    padding: 200px;
    display: none;
}

.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 65px;
    color:white;
}

.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #ff0000;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}
.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
    color: #ff0000;
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
    background: #ffffff;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}

.video-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    .home{
        padding: 100px 0px;
    }
    .home .media-icons{
        right: 15px;
    }
    .home .content {
        padding: 20px;
    }


}

@media (max-width: 560px){
    .home .content h1{
        font-size: 3em;
        line-height: 60px;
    }
}

/* MODAL DIALOG SCHIMAGO */
.modal-dialog-custom {
    max-width: 90% !important;
}

.modal-content-custom {
    width: 100% !important;
    height: 100% !important;
}

/* VISTA PROYECTOS */

.container_proyectos{
    padding-top: 80px;
    padding-bottom: 400px;
}

.list-group-item {
    padding: 20px !important;
}

.titulo_proyectos{
    padding-top: 200px;
}

/* CUSTOM TOOLTIP*/
.custom-tooltip-class {
    --bs-tooltip-bg: #ffc13a;
    --bs-tooltip-color: white;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-padding-y: 10px;
    --bs-tooltip-padding-x: 10px;
  }