<head>

      <link rel="stylesheet" type="text/css" href="/css/index/font-awesome.css">
      <link rel="stylesheet" href="/css/bootstrap/bootstrap-icons.css">
      <link rel="stylesheet" href="/css/estilos.css">
      <link rel="stylesheet" href="/css/gallery-filter.css">
</head>

{{>navigation_custom}} 




    <section class="section" id="promotion" style="padding-top: 200px">

        <div class="container">

        <div class="row">

            <div class="col-lg-12">
                    <br>
                    <div class="col-lg-8 mx-auto font-custom" data-aos="fade-down">
                    <h2>Recursos para realizar una <em>investigacion</em></h2>
                    </div>
                    <br>

                <ul class="filters-gallery text-center">
                    <li class="active" data-filter=".ing"><a href="">Ciencias Sociales</a></li>
                    <li data-filter=".agri"><a href="">Humanidades</a></li>
                    <li data-filter=".bio"><a href="">Ingenierías</a></li>
                    <li data-filter=".ling"><a href="">Ciencias de la Salud</a></li>

                </ul>

                <div class="projects">

                    <div class="row">

                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/scopus.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.scopus.com/" target="_blank" onclick="alert('¡Redirigiendo a Scopus!')">Scopus</a></h2>
                                        <p>Scopus es una base de datos bibliográfica y de resúmenes de artículos de investigación revisada por pares que abarca una amplia gama de disciplinas académicas. Es una herramienta valiosa para los investigadores, ya que les permite encontrar y acceder a información de investigación relevante de todo el mundo.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/ebsco.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.ebsco.com/es" target="_blank" onclick="alert('¡Redirigiendo a Ebsco!')">Ebsco</a></h2>
                                        <p>Ebscohost es una plataforma de investigación que proporciona acceso a una amplia gama de recursos de información, incluidos artículos de revistas, libros, bases de datos, informes, estadísticas y más.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="col-lg-4 item ing agri ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/sage.jpg" alt="" class="img-fluid card-img-gallery">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://journals.sagepub.com/" target="_blank" onclick="alert('¡Redirigiendo a Sage!')">Sage</a></h2>
                                        <p>Las revistas Sage son una colección de revistas electrónicas que ofrece Sage Publications. Estos paquetes están diseñados para brindar a los investigadores y bibliotecarios acceso a una amplia gama de contenido académico de alta calidad.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/science.jpg" alt="" class="img-fluid card-img-gallery">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.sciencedirect.com/" target="_blank" onclick="alert('¡Redirigiendo a ScienceDirect!')">ScienceDirect</a></h2>
                                        <p>ScienceDirect es una base de datos completa de literatura científica, técnica y médica (STM), que brinda acceso a más de 18 millones de artículos de más de 4.000 revistas y 30.000 libros. Es un recurso líder para investigadores, académicos y profesionales en una amplia gama de campos.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                
                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/wiley.jpg" alt="" class="img-fluid card-img-gallery">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://onlinelibrary.wiley.com/" target="_blank" onclick="alert('¡Redirigiendo a Wiley!')">Wiley</a></h2>
                                        <p>Wiley Online Library es una base de datos completa de literatura científica, técnica y médica (STM), que brinda acceso a más de 5 millones de artículos de más de 1.500 revistas y 9.000 libros.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4 item ing">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/ieee.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://ieeexplore.ieee.org/Xplore/home.jsp" target="_blank" onclick="alert('¡Redirigiendo a IEEE Xplore!')">IEEE Xplore</a></h2>
                                        <p>IEEE Xplore es una biblioteca digital que brinda acceso a la vasta colección de literatura técnica de IEEE. Incluye más de 4 millones de artículos de revistas, actas de conferencias y estándares. IEEE Xplore es un recurso valioso para ingenieros, científicos e investigadores que necesitan acceder a información técnica de alta calidad.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                                <div class="col-lg-4 item sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/dynamed.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.dynamed.com/" target="_blank" onclick="alert('¡Redirigiendo a Dynamed!')">Dynamed</a></h2>
                                        <p>Dynamed es una base de datos de referencia clínica integral que brinda acceso a más de 7.500 temas basados ​​en evidencia, que incluyen diagnóstico, tratamiento y prevención para una amplia gama de afecciones médicas. Es un recurso líder para clínicos, profesionales de la salud y estudiantes</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                                <div class="col-lg-4 item ing bio tier">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/iop.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://iopscience.iop.org/" target="_blank" onclick="alert('¡Redirigiendo a IOPScience!')">IOPScience</a></h2>
                                        <p>IOPScience es una biblioteca digital integral de contenido científico, técnico y médico (STM) publicado por IOP Publishing. Brinda acceso a más de 5 millones de artículos de más de 80 revistas, incluidas títulos de gran prestigio.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                            <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/pubmed.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank" onclick="alert('¡Redirigiendo a Pubmed!')">Pubmed</a></h2>
                                        <p>PubMed es una base de datos gratuita y de acceso público, desarrollada y mantenida por la Biblioteca Nacional de Medicina de los Estados Unidos (NLM). Incluye citas de artículos de revistas, libros, actas de conferencias, tesis y otros documentos. Los resúmenes de artículos de revistas se obtienen de la base de datos MEDLINE de la NLM.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    </section>

    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/gallery-filter.js"></script>
