<head>

    <!-- Additional CSS Files -->

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="/css/index/font-awesome.css">

    <link rel="stylesheet" href="/css/index/owl-carousel.css">

    <link rel="stylesheet" href="/css/estilos.css">

    <link rel="stylesheet" href="/css/carousel.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/gallery-filter.css">

    <link rel="stylesheet" href="/css/responsive-web.css">

</head>

        {{>navigation}} 
        

       <section class="home">
        <picture>
            <source media="(max-width: 412px)" srcset="/images/fondo1_responsive.jpg">
            <img class="video-slide responsive1 active" src="/images/fondo1.jpg" data-aos="fade-left">
        </picture>

        <picture>
            <source media="(max-width: 412px)" srcset="/images/fondo2_responsive.jpg">
            <img class="video-slide responsive2" src="/images/fondo2.jpg"> 
        </picture>

        <picture>
            <source media="(max-width: 412px)" srcset="/images/fondo3_responsive.jpg">
            <img class="video-slide responsive3" src="/images/fondo3.jpg"> 
        </picture>


        
        <div class="content active" data-aos="fade-right">
          <h1><span style="color: #6BFFFF";>INTELIGENCIA</span><br>
          <span>ARTIFICIAL</span></h1>
          <p>"La inteligencia artificial es la ciencia y la ingeniería de la creación de agentes inteligentes, que son sistemas que perciben su entorno y toman acciones que maximicen sus posibilidades de lograr sus objetivos." - John McCarthy, considerado el padre de la IA.</p>
        </div>
        <div class="content">
          <h1><span style="color: #6BFFFF; font-size: 0.9em !important";>LABORATORIO</span><br>
          <span>TEST</span></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna anime. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut farhan ex ea commodo consequat. Duis aute irure dolor.</p>
        </div>
        <div class="content" >
          <h1><span style="color: #6BFFFF; font-size: 0.9em !important";>EXPERIMENTOS</span><br>
          <span>TEST</span></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna anime. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut farhan ex ea commodo consequat. Duis aute irure dolor.</p>
        </div>
        <div class="slider-navigation">
          <div class="nav-btn active"></div>
          <div class="nav-btn"></div>
          <div class="nav-btn"></div>
        </div>
      </section> 

       <script src="/js/index.js" defer data-deferred="1"></script> 
 
    <!-- ***** Welcome Area End ***** -->

<section class="section pt-0 position-relative pull-top"  id="custom1" data-aos="fade-up">
	<div class="container">
            <div class="col-lg-8 mx-auto font-custom" data-aos="fade-down" style="padding-top: 50px">
                <h2>Sobre <em>nosotros...</em></h2>
            </div>
		<div class="rounded shadow p-5 bg-white">
                <p class="regular text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam non, recusandae tempore ipsam dignissimos molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam non, recusandae tempore ipsam dignissimos molestias. </p><br>
			<div class="row">
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<i class="ti-paint-bucket text-primary h1"></i>
                    <img src="/images/lab-ia.png" alt="" class="img-fluid card-img">
					<h3 class="mt-4 text-capitalize h5 ">Laboratorio de IA</h3>
					<p class="regular text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam non, recusandae
						tempore ipsam dignissimos molestias.</p>
				</div>
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<i class="ti-shine text-primary h1"></i>
                    <img src="/images/proyectos.png" alt="" class="img-fluid card-img">
					<h3 class="mt-4 text-capitalize h5 ">Proyectos</h3>
					<p class="regular text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam non, recusandae
						tempore ipsam dignissimos molestias.</p>
				</div>
				<div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
					<i class="ti-thought text-primary h1"></i>
                    <img src="/images/asesorias.png" alt="" class="img-fluid card-img">
					<h3 class="mt-4 text-capitalize h5 ">Asesorías</h3>
					<p class="regular text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam non, recusandae
						tempore ipsam dignissimos molestias.</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="promotion">

         <div class="container">

        <div class="row">

            <div class="col-lg-12">
                    <br>
                    <div class="col-lg-8 mx-auto font-custom" data-aos="fade-down">
                     <h2><em>Bases de datos</em> de fuentes académicas por área profesional</h2>
                     </div>
                    <br>

                <ul class="filters-gallery text-center" data-aos="fade-right"> 
                    <li class="active" data-filter="*"><a href="">Mostrar Todo</a></li>
                    <li data-filter=".ing"><a href="">Ingenierías</a></li>
                    <li data-filter=".agri"><a href="">Ciencias Agrícolas</a></li>
                    <li data-filter=".bio"><a href="">Ciencias Biológicas</a></li>
                    <li data-filter=".ling"><a href="">Linguística, Letras y Arte</a></li>
                    <li data-filter=".soc"><a href="">Ciencias Sociales</a></li>
                    <li data-filter=".hum"><a href="">Humanidades</a></li>
                    <li data-filter=".tier"><a href="">Ciencias Exactas y de la Tierra</a></li>
                    <li data-filter=".sal"><a href="">Ciencias de la Salud</a></li>
                </ul>

                <div class="projects" data-aos="fade-right">

                    <div class="row">

                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/scopus.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.scopus.com/" target="_blank" onclick="alert('¡Redirigiendo a Scopus!')">Scopus</a></h2>
                                        <p>Scopus es una base de datos bibliográfica y de resúmenes de artículos de investigación revisada por pares que abarca una amplia gama de disciplinas académicas. Es una herramienta valiosa para los investigadores, ya que les permite encontrar y acceder a información de investigación relevante de todo el mundo.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/ebsco.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.ebsco.com/es" target="_blank" onclick="alert('¡Redirigiendo a Ebsco!')">Ebsco</a></h2>
                                        <p>Ebscohost es una plataforma de investigación que proporciona acceso a una amplia gama de recursos de información, incluidos artículos de revistas, libros, bases de datos, informes, estadísticas y más.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="col-lg-4 item ing agri ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/sage.jpg" alt="" class="img-fluid card-img-gallery">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://journals.sagepub.com/" target="_blank" onclick="alert('¡Redirigiendo a Sage!')">Sage</a></h2>
                                        <p>Las revistas Sage son una colección de revistas electrónicas que ofrece Sage Publications. Estos paquetes están diseñados para brindar a los investigadores y bibliotecarios acceso a una amplia gama de contenido académico de alta calidad.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/science.jpg" alt="" class="img-fluid card-img-gallery">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.sciencedirect.com/" target="_blank" onclick="alert('¡Redirigiendo a ScienceDirect!')">ScienceDirect</a></h2>
                                        <p>ScienceDirect es una base de datos completa de literatura científica, técnica y médica (STM), que brinda acceso a más de 18 millones de artículos de más de 4.000 revistas y 30.000 libros. Es un recurso líder para investigadores, académicos y profesionales en una amplia gama de campos.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                   
                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/wiley.jpg" alt="" class="img-fluid card-img-gallery">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://onlinelibrary.wiley.com/" target="_blank" onclick="alert('¡Redirigiendo a Wiley!')">Wiley</a></h2>
                                        <p>Wiley Online Library es una base de datos completa de literatura científica, técnica y médica (STM), que brinda acceso a más de 5 millones de artículos de más de 1.500 revistas y 9.000 libros.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4 item ing">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/ieee.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://ieeexplore.ieee.org/Xplore/home.jsp" target="_blank" onclick="alert('¡Redirigiendo a IEEE Xplore!')">IEEE Xplore</a></h2>
                                        <p>IEEE Xplore es una biblioteca digital que brinda acceso a la vasta colección de literatura técnica de IEEE. Incluye más de 4 millones de artículos de revistas, actas de conferencias y estándares. IEEE Xplore es un recurso valioso para ingenieros, científicos e investigadores que necesitan acceder a información técnica de alta calidad.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                                <div class="col-lg-4 item sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/dynamed.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.dynamed.com/" target="_blank" onclick="alert('¡Redirigiendo a Dynamed!')">Dynamed</a></h2>
                                        <p>Dynamed es una base de datos de referencia clínica integral que brinda acceso a más de 7.500 temas basados ​​en evidencia, que incluyen diagnóstico, tratamiento y prevención para una amplia gama de afecciones médicas. Es un recurso líder para clínicos, profesionales de la salud y estudiantes</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                                <div class="col-lg-4 item ing bio tier">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/iop.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://iopscience.iop.org/" target="_blank" onclick="alert('¡Redirigiendo a IOPScience!')">IOPScience</a></h2>
                                        <p>IOPScience es una biblioteca digital integral de contenido científico, técnico y médico (STM) publicado por IOP Publishing. Brinda acceso a más de 5 millones de artículos de más de 80 revistas, incluidas títulos de gran prestigio.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                             <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/pubmed.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank" onclick="alert('¡Redirigiendo a Pubmed!')">Pubmed</a></h2>
                                        <p>PubMed es una base de datos gratuita y de acceso público, desarrollada y mantenida por la Biblioteca Nacional de Medicina de los Estados Unidos (NLM). Incluye citas de artículos de revistas, libros, actas de conferencias, tesis y otros documentos. Los resúmenes de artículos de revistas se obtienen de la base de datos MEDLINE de la NLM.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="custom1">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto font-custom" data-aos="fade-down">
                        <h2><em>Herramientas</em> con analitica de datos para la busqueda de la literatura</h2>
                      </div>

                      <div class="owl-carousel owl-theme" data-aos="fade-left">
                        <div class="item">
                          <div class="project-info">
                            <img src="images/elicit.png" class="img-fluid" alt="project image" onclick="alert('¡Redirigiendo a Elicit!'); window.open('https://elicit.com/', '_blank');">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="images/papers.png" class="img-fluid" alt="project image" onclick="alert('¡Redirigiendo a Connected Papers!'); window.open('https://www.connectedpapers.com/', '_blank');">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="images/rabbit.png" class="img-fluid" alt="project image" onclick="alert('¡Redirigiendo a ResearchRabbit!'); window.open('https://www.researchrabbit.ai/', '_blank');">
                          </div>
                        </div>
                  </div>
                </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

<section class="section" id="custom2">
 <div class="container">
    <div class="col-lg-8 mx-auto font-custom" data-aos="zoom-in-down">
    <h2><em>Gestores </em>de referencias bibliográficas</h2>
    </div>
        <div class="row row-cols-1 row-cols-md-3 g-6" style="padding-top:50px" data-aos="zoom-in-right">
            <div class="col">
                <div class="card" onclick="alert('¡Redirigiendo a Zotero!'); window.open('https://www.zotero.org/', '_blank');">
                <img src="/images/zotero.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Zotero</h5>
                    <p class="card-text">Es una herramienta que permite a los usuarios guardar referencias bibliográficas de una variedad de fuentes, incluyendo libros, artículos, sitios web y otros tipos de contenido. Además, fomenta la colaboración entre usuarios al permitir la creación de grupos compartidos para la gestión colaborativa de referencias.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card" onclick="alert('¡Redirigiendo a Mendeley!'); window.open('https://www.mendeley.com/', '_blank');">
                <img src="/images/mendeley.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mendeley</h5>
                    <p class="card-text">Es una herramienta flexible y fácil de usar, especialmente para aquellos que buscan una solución gratuita y de código abierto para la gestión de referencias bibliográficas. Su comunidad activa y el soporte para diversos sistemas operativos lo convierten en una opción popular entre académicos y estudiantes.</p>
                </div>
                </div>
            </div>
             <div class="col">
                <div class="card" onclick="alert('¡Redirigiendo a JabRef!'); window.open('https://www.jabref.org/', '_blank');">
                <img src="/images/jabref.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">JabRef</h5>
                    <p class="card-text">Es un gestor de referencias bibliográficas de código abierto diseñado para ayudar a los investigadores, académicos y estudiantes a organizar y gestionar sus bibliografías de manera eficiente. Permite la importación, organización y edición de referencias bibliográficas en formatos como BibTeX y BibLaTeX.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
 </section>

 <!-- ***** Features Big Item Start ***** -->
                <section id="Services" class="content-section text-center">
                <div class="container">
            <div class="block-heading font-custom" data-aos="fade-down">
                <h2><em>Programas </em>estadísticos</h2><br><br>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6" data-aos="fade-up">
                <div class="card service-box" style="background-color: initial">
                    <div class="service-icon yellow">
                    <div class="front-content">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <img src="/images/r.png" class="card-img-top" alt="...">
                    </div>
                    </div>
                    <div class="service-content">
                    <h3><a href="https://www.r-project.org/" target="_blank" onclick="alert('¡Redirigiendo a R!')">R</a></h3>
                    <p>Es un lenguaje de programación y entorno de software libre para análisis estadístico y gráficos. Es un lenguaje poderoso y flexible que puede ser utilizado por profesionales de datos de todos los niveles de experiencia.</p>
                    </div>
                </div>
                </div>
                <div class="col-md-4 col-sm-6" data-aos="fade-down">
                <div class="card service-box" style="background-color: initial">
                    <div class="service-icon orange">
                    <div class="front-content">
                        <i class="fa fa-suitcase"></i>
                        <img src="/images/spss.png" class="card-img-top" alt="...">
                    </div>
                    </div>
                    <div class="service-content">
                    <h3><a href="https://www.ibm.com/mx-es/products/spss-statistics" target="_blank" onclick="alert('¡Redirigiendo a SPSS!')">SPSS</a></h3>
                    <p>Es una plataforma de software estadístico desarrollada por IBM. Es una herramienta popular utilizada en diversas áreas académicas, como las ciencias sociales, la psicología, la educación y la salud, así como en el ámbito empresarial y gubernamental.</p>
                    </div>
                </div>
                </div>
                <div class="col-md-4 col-sm-6" data-aos="fade-up">
                <div class="card service-box" style="background-color: initial">
                    <div class="service-icon red">
                    <div class="front-content">
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <img src="/images/jasp.png" class="card-img-top" alt="...">
                    </div>
                    </div>
                    <div class="service-content">
                    <h3><a href="https://jasp-stats.org/" target="_blank" onclick="alert('¡Redirigiendo a Jasp!')">Jasp</a></h3>
                    <p>Es un software estadístico de código abierto y gratuito desarrollado por la Universidad de Amsterdam. Está diseñado para ser fácil de usar y flexible, y ofrece una amplia gama de herramientas para realizar análisis estadísticos descriptivos e inferenciales.</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
    <!-- ***** Features Big Item End ***** -->
 

    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="Nombre Completo" required=""
                                                style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" placeholder="Correo Institucional"
                                                required="" style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" id="message" placeholder="Mensaje"
                                                required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Enviar</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <h2>Información de <em>Contacto</em></h2>
                        <p>Información.....</p>
                        <ul class="social">
                            <li><a href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; 2023 CiencIA

                        | Designed by UPN</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/js/jquery-2.1.0.min.js"></script>


    <script src="/js/bootstrap/bootstrap.min.js"></script>


    <!-- Plugins -->
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script>

        <!-- Custom -->
    <script src="/js/isotope.min.js"></script>
    <script src="/js/gallery-filter.js"></script>

    <!-- Global Init -->
    <script src="/js/custom.js"></script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>


</html>
