<head>

    <!-- Additional CSS Files -->

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="/css/index/font-awesome.css">

    <link rel="stylesheet" href="/css/index/owl-carousel.css">

    <link rel="stylesheet" href="/css/estilos.css">

    <link rel="stylesheet" href="/css/carousel.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/gallery-filter.css">

</head>

        {{>navigation}} 
        

       <section class="home">
        <picture>
            <source media="(max-width: 412px)" srcset="/images/fondo1_responsive.jpg">
            <img class="video-slide responsive1 active" src="/images/fondo1.jpg">
        </picture>

        <picture>
            <source media="(max-width: 412px)" srcset="/images/fondo2_responsive.jpg">
            <img class="video-slide responsive2" src="/images/fondo2.jpg"> 
        </picture>

        <picture>
            <source media="(max-width: 412px)" srcset="/images/fondo3_responsive.jpg">
            <img class="video-slide responsive3" src="/images/fondo3.jpg"> 
        </picture>


        
        <div class="content active" data-aos="fade-right">
          <h1><span style="color: #6BFFFF";>INTELIGENCIA</span><br>
          <span>ARTIFICIAL</span></h1>
          <p>"La inteligencia artificial es la ciencia y la ingeniería de la creación de agentes inteligentes, que son sistemas que perciben su entorno y toman acciones que maximicen sus posibilidades de lograr sus objetivos." - John McCarthy, considerado el padre de la IA.</p>
          <a href="#">Read More</a>
        </div>
        <div class="content">
          <h1>Train Ride.<br><span>Anime Girl</span></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna anime. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut farhan ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum daily web design nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#">Read More</a>
        </div>
        <div class="content" >
          <h1>Sparkle.<br><span>Butterfly</span></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna anime. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut farhan ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum daily web design nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#">Read More</a>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="slider-navigation">
          <div class="nav-btn active"></div>
          <div class="nav-btn"></div>
          <div class="nav-btn"></div>
        </div>
      </section> 

       <script src="/js/index.js" defer data-deferred="1"></script> 
 
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="promotion">

         <div class="container">

        <div class="row">

            <div class="col-lg-12">
                    <br>
                    <div class="col-lg-8 mx-auto font-custom" data-aos="fade-down">
                     <h2><em>Bases de datos</em> de fuentes académicas por área profesional</h2>
                     </div>
                    <br>

                <ul class="filters-gallery text-center">
                    <li class="active" data-filter="*"><a href="">Mostrar Todo</a></li>
                    <li data-filter=".ing"><a href="">Ingenierías</a></li>
                    <li data-filter=".agri"><a href="">Ciencias Agrícolas</a></li>
                    <li data-filter=".bio"><a href="">Ciencias Biológicas</a></li>
                    <li data-filter=".ling"><a href="">Linguística, Letras y Arte</a></li>
                    <li data-filter=".soc"><a href="">Ciencias Sociales</a></li>
                    <li data-filter=".hum"><a href="">Humanidades</a></li>
                    <li data-filter=".tier"><a href="">Ciencias Exactas y de la Tierra</a></li>
                    <li data-filter=".sal"><a href="">Ciencias de la Salud</a></li>
                </ul>

                <div class="projects">

                    <div class="row">

                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/scopus.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.scopus.com/" target="_blank" onclick="alert('¡Redirigiendo a Scopus!')">Scopus</a></h2>
                                        <p>Scopus es una base de datos bibliográfica y de resúmenes de artículos de investigación revisada por pares que abarca una amplia gama de disciplinas académicas. Es una herramienta valiosa para los investigadores, ya que les permite encontrar y acceder a información de investigación relevante de todo el mundo.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/ebsco.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.ebsco.com/es" target="_blank" onclick="alert('¡Redirigiendo a Ebsco!')">Ebsco</a></h2>
                                        <p>Ebscohost es una plataforma de investigación que proporciona acceso a una amplia gama de recursos de información, incluidos artículos de revistas, libros, bases de datos, informes, estadísticas y más.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="col-lg-4 item ing agri ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/sage.jpg" alt="" class="img-fluid card-img-gallery">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://journals.sagepub.com/" target="_blank" onclick="alert('¡Redirigiendo a Sage!')">Sage</a></h2>
                                        <p>Las revistas Sage son una colección de revistas electrónicas que ofrece Sage Publications. Estos paquetes están diseñados para brindar a los investigadores y bibliotecarios acceso a una amplia gama de contenido académico de alta calidad.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/science.jpg" alt="" class="img-fluid card-img-gallery">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.sciencedirect.com/" target="_blank" onclick="alert('¡Redirigiendo a ScienceDirect!')">ScienceDirect</a></h2>
                                        <p>ScienceDirect es una base de datos completa de literatura científica, técnica y médica (STM), que brinda acceso a más de 18 millones de artículos de más de 4.000 revistas y 30.000 libros. Es un recurso líder para investigadores, académicos y profesionales en una amplia gama de campos.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                   
                        <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/wiley.jpg" alt="" class="img-fluid card-img-gallery">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://onlinelibrary.wiley.com/" target="_blank" onclick="alert('¡Redirigiendo a Wiley!')">Wiley</a></h2>
                                        <p>Wiley Online Library es una base de datos completa de literatura científica, técnica y médica (STM), que brinda acceso a más de 5 millones de artículos de más de 1.500 revistas y 9.000 libros.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4 item ing">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/ieee.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://ieeexplore.ieee.org/Xplore/home.jsp" target="_blank" onclick="alert('¡Redirigiendo a IEEE Xplore!')">IEEE Xplore</a></h2>
                                        <p>IEEE Xplore es una biblioteca digital que brinda acceso a la vasta colección de literatura técnica de IEEE. Incluye más de 4 millones de artículos de revistas, actas de conferencias y estándares. IEEE Xplore es un recurso valioso para ingenieros, científicos e investigadores que necesitan acceder a información técnica de alta calidad.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                                <div class="col-lg-4 item sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/dynamed.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://www.dynamed.com/" target="_blank" onclick="alert('¡Redirigiendo a Dynamed!')">Dynamed</a></h2>
                                        <p>Dynamed es una base de datos de referencia clínica integral que brinda acceso a más de 7.500 temas basados ​​en evidencia, que incluyen diagnóstico, tratamiento y prevención para una amplia gama de afecciones médicas. Es un recurso líder para clínicos, profesionales de la salud y estudiantes</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                                <div class="col-lg-4 item ing bio tier">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/iop.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://iopscience.iop.org/" target="_blank" onclick="alert('¡Redirigiendo a IOPScience!')">IOPScience</a></h2>
                                        <p>IOPScience es una biblioteca digital integral de contenido científico, técnico y médico (STM) publicado por IOP Publishing. Brinda acceso a más de 5 millones de artículos de más de 80 revistas, incluidas títulos de gran prestigio.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                             <div class="col-lg-4 item ing agri bio ling soc hum tier sal">
                            
                            <div class="card-gallery">

                                <div class="card-head-gallery">
                                    <img src="/images/pubmed.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-hover-gallery">
                                        <h2><a href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank" onclick="alert('¡Redirigiendo a Pubmed!')">Pubmed</a></h2>
                                        <p>PubMed es una base de datos gratuita y de acceso público, desarrollada y mantenida por la Biblioteca Nacional de Medicina de los Estados Unidos (NLM). Incluye citas de artículos de revistas, libros, actas de conferencias, tesis y otros documentos. Los resúmenes de artículos de revistas se obtienen de la base de datos MEDLINE de la NLM.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="custom1">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto font-custom">
                        <h2><em>Herramientas</em> con analitica de datos para la busqueda de la literatura</h2>
                      </div>

                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                            <img src="images/elicit.png" class="img-fluid" alt="project image" onclick="alert('¡Redirigiendo a Elicit!'); window.open('https://elicit.com/', '_blank');">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="images/papers.png" class="img-fluid" alt="project image" onclick="alert('¡Redirigiendo a Connected Papers!'); window.open('https://www.connectedpapers.com/', '_blank');">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="images/rabbit.png" class="img-fluid" alt="project image" onclick="alert('¡Redirigiendo a ResearchRabbit!'); window.open('https://www.researchrabbit.ai/', '_blank');">
                          </div>
                        </div>
                  </div>
                </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <div class="right-image-decor"></div>

    <!-- ***** Testimonials Ends ***** -->


    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="Full Name" required=""
                                                style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" placeholder="E-Mail Address"
                                                required="" style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" id="message" placeholder="Your Message"
                                                required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Send Message
                                                Now</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <h2>More About <em>Lava</em></h2>
                        <p>Phasellus dapibus urna vel lacus accumsan, iaculis eleifend leo auctor. Duis at finibus odio.
                            Vivamus ut pharetra arcu, in porta metus. Suspendisse blandit pulvinar ligula ut elementum.
                            <br><br>If you need this contact form to send email to your inbox, you may follow our <a
                                rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact</a> page
                            for more detail.</p>
                        <ul class="social">
                            <li><a href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; 2020 Lava Landing Page

                        | Designed by <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/js/jquery-2.1.0.min.js"></script>


    <script src="/js/bootstrap/bootstrap.min.js"></script>


    <!-- Plugins -->
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script>

        <!-- Custom -->
    <script src="/js/isotope.min.js"></script>
    <script src="/js/gallery-filter.js"></script>

    <!-- Global Init -->
    <script src="/js/custom.js"></script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>


</html>
