<head>
    <link rel="stylesheet" href="/css/matrices.css">

        <!-- Script ChatBot GPT -->
    <script>
    window.embeddedChatbotConfig = {
    chatbotId: "tfx9pxkmgN1h5x6J--2yu",
    domain: "www.chatbase.co"
    }
    </script>

    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="tfx9pxkmgN1h5x6J--2yu"
    domain="www.chatbase.co"
    defer>
    </script>
    <!-- Fin Script ChatBot GPT -->

</head>

{{>navigation}}

    <div class="containers-matrices">

        <div class="box-container">

            <div class="box" style="background: #E95A46;">
                <img src="images/matrices/lupa.png" alt="">
                <h3>Matriz de Brechas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                <a href="analisis_brechas" class="btn">Abrir</a>
            </div>

            <div class="box" style="background: #F09F29;">
                <img src="images/matrices/interrogante.png" alt="">
                <h3>Matriz del Problema</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                <a href="#" class="btn">Abrir</a>
            </div>

            <div class="box" style="background: #6E59A0;">
                <img src="images/matrices/engranaje.png" alt="">
                <h3>Matriz de Consistencia</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                <a href="#" class="btn">Abrir</a>
            </div>

            <div class="box" style="background: #3FB299;">
                <img src="images/matrices/lapiz.png" alt="">
                <h3>Matriz de Operaciones</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                <a href="#" class="btn">Abrir</a>
            </div>

            <div class="box">
                <img src="" alt="">
                <h3>****</h3>
                <p>****</p>
                <a href="#" class="btn">read more</a>
            </div>

            <div class="box">
                <img src="" alt="">
                <h3>****</h3>
                <p>****</p>
                <a href="#" class="btn">read more</a>
            </div>

        </div>

    </div>

                <!-- jQuery -->
    <script src="/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/js/custom.js"></script>