<!-- ***** Header Area Start ***** -->
      <header class="header-area header-sticky background-header" data-aos="fade-down">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <nav class="main-nav">
                          <!-- ***** Logo Start ***** -->
                          <a href="/" class="logo">
                              <img src="../../images/logo.jpg" alt="Imagen de ejemplo" style="max-width: 400px; max-height: 70px">
                          </a>
                          <!-- ***** Logo End ***** -->
                          <!-- ***** Menu Start ***** -->
                          <ul class="nav">
                              <li class="scroll-to-section"><a href="/" class="menu-item">Inicio</a></li>
                              <li class="scroll-to-section"><a href="" class="menu-item">Nosotros</a></li>
                              </li>
                              <li class="submenu">
                                  <a href="javascript:;">Investigaciones</a>
                                  <ul>
                                      <li><a href="" class="menu-item">Laboratorio IA</a></li>
                                      <li><a href="" class="menu-item">Proyectos</a></li>
                                      <li><a href="" class="menu-item">Capacitaciones</a></li>
                                      <li><a href="" class="menu-item">Asesorías</a></li>
                                  </ul>
                              </li>
                              <li class="scroll-to-section"><a href="publicaciones" class="menu-item">Publicaciones</a>
                              <li class="scroll-to-section"><a href="recursos" class="menu-item">Recursos</a>
                              <li class="scroll-to-section"><a href="sesion" class="button-custom" style="color: black">Ingresar</a></li>
                          </ul>
                          <a class='menu-trigger'>
                              <span>Menu</span>
                          </a>
                          <!-- ***** Menu End ***** -->
                      </nav>
                  </div>
              </div>
          </div>
      </header>
      <!-- ***** Header Area End ***** -->